<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <config>
    <add key="defaultPushSource" value="https://www.myget.org/F/aerie-powershell/api/v3/index.json" />
  </config>

  <packageSources>
    <add key="MyGet" value="https://www.myget.org/F/aerie-powershell/api/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>

  <packageManagement>
    <add key="format" value="1" />
    <add key="disabled" value="False" />
  </packageManagement>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

</configuration>
